<div class="jumbotron">
    <h1 class="display-3">¿CUÁNTOS PAÍSES HAY EN EL MUNDO?</h1>

    <div class="container ">
        <div class="row">
            <div class="col-md-12 imageContainer">
                <img src="https://i.ebayimg.com/images/g/luUAAOSwTxdjKd7f/s-l1600.jpg" class="card-img-top"
                    alt="América">
                <div class="card-body">
                    <p class="lead jumbotronMyStyle">
                        La respuesta a esta incógnita variará según quién los contabilice. Si quieres saberlo, navega y
                        descubre paises y sus ciudades. </p>
                    <hr class="my-4">

                </div>
            </div>
        </div>





    </div>



</div>